/* Write your CSS code here */
.products-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products-img{
    height:200px;
    width:200px;
}
@media screen and (max-width:767px){
.products-img{
    height: 100px;
    width:100px;
}
}

